{% extends 'base.html.twig' %}

{% block title %}À propos{% endblock %}

{% block body %}
<h2>À propos de NovaTech</h2>
<p style="margin-top: 1rem;">{{ presentation }}</p>
<p style="margin-top: 1rem;">Année en cours : {{ anneeCourante }}</p>
{% endblock %}
