{% extends 'base.html.twig' %}

{% block title %}{{ nomEntreprise }} - Accueil{% endblock %}

{% block body %}
<div>
    <h2>{{ messageBienvenue }}</h2>
    <p style="font-size: 1.5rem; color: #555; margin-top: 1rem;">
        {{ slogan }}
    </p>
</div>
{% endblock %}
