<header>
    <nav class="menubar">
    <ul>
        <li>
            <a href="{{ path('app_home') }}">Accueil</a>
        </li>
        <li>
            <a href="{{ path('app_services') }}">Services</a>
        </li>
        <li>
            <a href="{{ path('app_about') }}">A propos</a>
        </li>
        <li>
            <a href="{{ path('app_contact') }}">Contact</a>
        </li>
    </ul>
    </nav>
</header>