{% extends 'base.html.twig' %}

{% block title %}Nos Services{% endblock %}

{% block body %}
<h2>Nos Services</h2>
<ul style="margin-top: 1rem; list-style-position: inside;">
    {% for service in services %}
        <li style="padding: 0.5rem 0;">{{ service }}</li>
    {% endfor %}
</ul>
{% endblock %}
