{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<h2>Contactez-nous</h2>
<div style="margin-top: 1rem;">
    <p><strong>Email :</strong> {{ email }}</p>
    <p><strong>Téléphone :</strong> {{ telephone }}</p>
    <p><strong>Adresse :</strong> {{ adresse }}</p>
</div>
{% endblock %}
